@import url(normalize.css);

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  }

.container {
    width: 120%;
    padding: 0 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 60px 30px;
}

.form {
    width: 100%;
}

.form > div {
    margin-top: 1rem;
}

.form-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-title h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.kodeposres {
    background: #FFFFFF;
    box-sizing: border-box;
    height: 25px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    width: 25%;
    padding: 8px 8px;
    color: #FF914D;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1024px) {
    .form-container {
        width: 60%;
        padding: 60px 50px;
    }
}